## Preprocessing

In [547]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [548]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME','STATUS','USE_CASE','SPECIAL_CONSIDERATIONS'], axis = 1)

In [549]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [550]:
application_df.describe()
print(max(application_df['ASK_AMT']))
print(min(application_df['ASK_AMT']))

application_df["ASK_AMT"] = pd.cut(application_df["ASK_AMT"], bins=[0, 10000, 100000,500000 ,1000000,1000000000], labels=[1, 2, 3, 4,5])
application_df["ASK_AMT"].value_counts()

8597806340
5000

ASK_AMT
1    25947
2     3821
3     2304
5     1559
4      650
Name: count, dtype: int64

In [551]:
#application_df[(application_df['ASK_AMT'] > 500000000)].sort_values('ASK_AMT')

In [552]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
counts = application_df['APPLICATION_TYPE'].value_counts()
counts = counts[counts < 500]
counts

APPLICATION_TYPE
T9     156
T13     66
T12     27
T2      16
T25      3
T14      3
T29      2
T15      2
T17      1
Name: count, dtype: int64

In [553]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = counts.index.to_list()
print(application_types_to_replace)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [554]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [555]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [556]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000].index.to_list()
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [557]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ASK_AMT_1,ASK_AMT_2,ASK_AMT_3,ASK_AMT_4,ASK_AMT_5
0,1,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,0,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,1,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [558]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [559]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [560]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  16
hidden_nodes_layer2 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_29"

 Layer (type)                          Output Shape                         Param #

 dense_95 (Dense)                      (None, 16)                               640

 dense_96 (Dense)                      (None, 8)                                136

 dense_97 (Dense)                      (None, 1)                                  9

 Total params: 785 (3.07 KB)

 Trainable params: 785 (3.07 KB)

 Non-trainable params: 0 (0.00 B)

In [561]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [562]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804  3s 2ms/step - accuracy: 0.6823 - loss: 0.6156
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7288 - loss: 0.5593
Epoch 3/100
804/804  3s 2ms/step - accuracy: 0.7276 - loss: 0.5585
Epoch 4/100
804/804  2s 3ms/step - accuracy: 0.7294 - loss: 0.5516
Epoch 5/100
804/804  3s 3ms/step - accuracy: 0.7302 - loss: 0.5512
Epoch 6/100
804/804  2s 2ms/step - accuracy: 0.7281 - loss: 0.5534
Epoch 7/100
804/804  2s 2ms/step - accuracy: 0.7344 - loss: 0.5494
Epoch 8/100
804/804  2s 2ms/step - accuracy: 0.7352 - loss: 0.5496
Epoch 9/100
804/804  3s 2ms/step - accuracy: 0.7327 - loss: 0.5519
Epoch 10/100
804/804  4s 4ms/step - accuracy: 0.7322 - loss: 0.5507
Epoch 11/100
804/804  2s 2ms/step - accuracy: 0.7342 - loss: 0.5485
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7349 - loss: 0.5484
Epoch 13/100
804/804  2s 2ms/step - accuracy: 0.7394 - loss: 0.5427
Epoch 14/100
804/804  2s 2ms/step - accuracy: 0.7337 - loss: 0.5463
Epoch 15/100
804/804  4s 4ms/step - accuracy: 0.7358 - loss: 0.5498
Epoch 16/100
804/804  2s 2ms/step - accuracy: 0.7315 - loss: 0.5507
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7380 - loss: 0.5433
Epoch 18/100
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5483
Epoch 19/100
804/804  2s 2ms/step - accuracy: 0.7343 - loss: 0.5467
Epoch 20/100
804/804  3s 3ms/step - accuracy: 0.7360 - loss: 0.5449
Epoch 21/100
804/804  3s 3ms/step - accuracy: 0.7373 - loss: 0.5426
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5415
Epoch 23/100
804/804  3s 2ms/step - accuracy: 0.7332 - loss: 0.5490
Epoch 24/100
804/804  2s 2ms/step - accuracy: 0.7360 - loss: 0.5470
Epoch 25/100
804/804  2s 2ms/step - accuracy: 0.7407 - loss: 0.5406
Epoch 26/100
804/804  2s 3ms/step - accuracy: 0.7352 - loss: 0.5457
Epoch 27/100
804/804  2s 3ms/step - accuracy: 0.7394 - loss: 0.5406
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.7424 - loss: 0.5366
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7381 - loss: 0.5428
Epoch 30/100
804/804  2s 2ms/step - accuracy: 0.7346 - loss: 0.5455
Epoch 31/100
804/804  2s 2ms/step - accuracy: 0.7365 - loss: 0.5451
Epoch 32/100
804/804  3s 3ms/step - accuracy: 0.7400 - loss: 0.5387
Epoch 33/100
804/804  4s 2ms/step - accuracy: 0.7429 - loss: 0.5371
Epoch 34/100
804/804  2s 2ms/step - accuracy: 0.7352 - loss: 0.5477
Epoch 35/100
804/804  2s 2ms/step - accuracy: 0.7385 - loss: 0.5421
Epoch 36/100
804/804  3s 3ms/step - accuracy: 0.7356 - loss: 0.5442
Epoch 37/100
804/804  2s 3ms/step - accuracy: 0.7362 - loss: 0.5415
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7392 - loss: 0.5433
Epoch 39/100
804/804  3s 2ms/step - accuracy: 0.7375 - loss: 0.5430
Epoch 40/100
804/804  3s 2ms/step - accuracy: 0.7375 - loss: 0.5416
Epoch 41/100
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5413
Epoch 42/100
804/804  3s 3ms/step - accuracy: 0.7364 - loss: 0.5419
Epoch 43/100
804/804  2s 2ms/step - accuracy: 0.7411 - loss: 0.5408
Epoch 44/100
804/804  3s 2ms/step - accuracy: 0.7376 - loss: 0.5421
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7395 - loss: 0.5400
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.7310 - loss: 0.5479
Epoch 47/100
804/804  2s 3ms/step - accuracy: 0.7335 - loss: 0.5455
Epoch 48/100
804/804  2s 3ms/step - accuracy: 0.7379 - loss: 0.5428
Epoch 49/100
804/804  2s 3ms/step - accuracy: 0.7403 - loss: 0.5371
Epoch 50/100
804/804  3s 3ms/step - accuracy: 0.7394 - loss: 0.5425
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7390 - loss: 0.5411
Epoch 52/100
804/804  3s 3ms/step - accuracy: 0.7408 - loss: 0.5407
Epoch 53/100
804/804  3s 3ms/step - accuracy: 0.7360 - loss: 0.5433
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5408
Epoch 55/100
804/804  3s 3ms/step - accuracy: 0.7435 - loss: 0.5373
Epoch 56/100
804/804  3s 3ms/step - accuracy: 0.7397 - loss: 0.5428
Epoch 57/100
804/804  2s 3ms/step - accuracy: 0.7400 - loss: 0.5401
Epoch 58/100
804/804  3s 3ms/step - accuracy: 0.7382 - loss: 0.5412
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5391
Epoch 60/100
804/804  3s 2ms/step - accuracy: 0.7401 - loss: 0.5407
Epoch 61/100
804/804  2s 2ms/step - accuracy: 0.7396 - loss: 0.5400
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5446
Epoch 63/100
804/804  3s 4ms/step - accuracy: 0.7410 - loss: 0.5395
Epoch 64/100
804/804  4s 2ms/step - accuracy: 0.7459 - loss: 0.5319
Epoch 65/100
804/804  2s 2ms/step - accuracy: 0.7383 - loss: 0.5404
Epoch 66/100
804/804  2s 2ms/step - accuracy: 0.7376 - loss: 0.5394
Epoch 67/100
804/804  4s 3ms/step - accuracy: 0.7437 - loss: 0.5348
Epoch 68/100
804/804  2s 2ms/step - accuracy: 0.7328 - loss: 0.5482
Epoch 69/100
804/804  3s 2ms/step - accuracy: 0.7410 - loss: 0.5374
Epoch 70/100
804/804  3s 2ms/step - accuracy: 0.7403 - loss: 0.5388
Epoch 71/100
804/804  3s 2ms/step - accuracy: 0.7407 - loss: 0.5394
Epoch 72/100
804/804  3s 4ms/step - accuracy: 0.7402 - loss: 0.5417
Epoch 73/100
804/804  4s 2ms/step - accuracy: 0.7381 - loss: 0.5442
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7375 - loss: 0.5395
Epoch 75/100
804/804  3s 2ms/step - accuracy: 0.7427 - loss: 0.5389
Epoch 76/100
804/804  3s 3ms/step - accuracy: 0.7418 - loss: 0.5369
Epoch 77/100
804/804  2s 3ms/step - accuracy: 0.7440 - loss: 0.5365
Epoch 78/100
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5371
Epoch 79/100
804/804  3s 2ms/step - accuracy: 0.7383 - loss: 0.5409
Epoch 80/100
804/804  3s 2ms/step - accuracy: 0.7374 - loss: 0.5441
Epoch 81/100
804/804  3s 3ms/step - accuracy: 0.7384 - loss: 0.5426
Epoch 82/100
804/804  2s 3ms/step - accuracy: 0.7366 - loss: 0.5440
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5393
Epoch 84/100
804/804  2s 2ms/step - accuracy: 0.7413 - loss: 0.5395
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.7426 - loss: 0.5382
Epoch 86/100
804/804  3s 2ms/step - accuracy: 0.7355 - loss: 0.5452
Epoch 87/100
804/804  3s 3ms/step - accuracy: 0.7392 - loss: 0.5398
Epoch 88/100
804/804  4s 2ms/step - accuracy: 0.7383 - loss: 0.5381
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.7416 - loss: 0.5385
Epoch 90/100
804/804  3s 2ms/step - accuracy: 0.7440 - loss: 0.5331
Epoch 91/100
804/804  4s 4ms/step - accuracy: 0.7380 - loss: 0.5408
Epoch 92/100
804/804  4s 2ms/step - accuracy: 0.7465 - loss: 0.5339
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.7429 - loss: 0.5375
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.7432 - loss: 0.5387
Epoch 95/100
804/804  2s 3ms/step - accuracy: 0.7395 - loss: 0.5391
Epoch 96/100
804/804  3s 3ms/step - accuracy: 0.7400 - loss: 0.5416
Epoch 97/100
804/804  2s 2ms/step - accuracy: 0.7376 - loss: 0.5393
Epoch 98/100
804/804  2s 2ms/step - accuracy: 0.7383 - loss: 0.5421
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7379 - loss: 0.5417
Epoch 100/100
804/804  3s 2ms/step - accuracy: 0.7401 - loss: 0.5366

In [563]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 4ms/step - accuracy: 0.7228 - loss: 0.5612
Loss: 0.5612242221832275, Accuracy: 0.7227988243103027

In [565]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.